header.header 
    .container 
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href="/" class="")
                        img(src="/images/logo.svg" alt="" class="img-fluid")
            .col-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="/" class="") Trang chủ
                        li 
                            a(href="/products" class="") Sản phẩm